<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="img\carousel1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="carousel2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="img/carousel3.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>



<div class="tituloProductos">
    <h2>Bienvenidos a la tienda TechZone</h2>
</div>


<div class="container">
    <div class="row mt-5">
        <div class="col-lg-4 mt-2">
            <div class="card h-100">
                <img src="img/messi.webp" class="card-img-top" alt="Imagen Testimonio 1">
                <div class="card-body">
                    <h5 class="card-title">Pancho Ibañez</h5>
                    <p class="card-text">Hola, soy Pancho Ibáñez.  TechZone es lo mejor.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mt-2">
            <div class="card h-100">
                <img src="img/messi.webp" class="card-img-top" alt="Imagen Testimonio 2">
                <div class="card-body">
                    <h5 class="card-title">Lionel Messi</h5>
                    <p class="card-text"> TechZone y goku 
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mt-2">
            <div class="card h-100">
                <img src="img/messi.webp" class="card-img-top" alt="Imagen Testimonio 3">
                <div class="card-body">
                    <h5 class="card-title">Bizarrap</h5>
                    <p class="card-text">Para mí, TechZone es lo mejor con one piece.</p>
                </div>
            </div>
        </div>
    </div>
</div>