<h1>Administración de Usuarios</h1>

<ul>
    {{#each users }}
    <li>nombre:{{first_name}}</li>
    <li>apellido:{{last_name}} </li>
    <li>correo:{{email}} </li>
    <li>rol:{{role}} </li>
    <br>
    {{/each}}

</ul>
