@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');

body {
    font-family: 'Open Sans', sans-serif;

}

/*HEADER*/

.tamLogo {
    width: 250px;
}

.fuentesNav {
    font-size: 1.5rem;
    padding: 10px;
}

.encabezado {
    /* background-color: bisque; */
    border-top: solid 20px #6d11b8;
    /* border-bottom: solid 1px #c1101a; */
    margin-bottom: 30px;
}

nav li a {
    text-transform: uppercase;
    text-decoration: none;
    margin: 15px;
    color: gray;
    border-left: 1px solid #8911b8;
    border-right: 1px solid #8611b8;
    padding: 0 15px;
}

a:hover {
    background-color: #9111b8;
    color: #9ea4f0;
}

/* PRODUCTOS */

.tituloProductos {
    background-color: #7211b8;
    color: #e19ef0;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px;
}

.tituloProductos h2 {
    font-size: 35px;
}


/*CARDS*/


.colorBtn {
    background-color:#9711b8;
    color: #9ea4f0;
    font-size: 18px;
}

.colorBtn:hover {
    background-color:#9c11b8;
    color: #ce9ef0;
}


/*Cards*/

.card-img-top {
    height: 200px;
    object-fit: cover;
    object-position: center top;
}

/* Estilos del formulario */
h1 {
    text-align: center;
}

.formulario {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #d99ef0;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #000000;
}

.inputMessi {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

.btnMios {
    width: 100%;
    padding: 10px;
    background-color: #7811b8;
    color: #ce9ef0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btnMios:hover {
    background-color: #9411b8;
}

i {
    font-size: 35px;
}


.grupo-btn {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.noSub {
    text-decoration: none;
    text-align: center;
}

.formulario span {
    font-weight: bold;
}